* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.study-box {
    width: 100%;
    margin: 0;
    padding: 0.5em;
}

.study-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1em solid black;
    padding: 0.5em;
    width: 100%;
    margin-top: 0.5em;
}

.study-box div>p.title {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.study-box div>p {
    padding: 0;
    margin: 0;
}

.study-box ul {
    margin: 0;
}

.check-mark {
    width: 1.5em;
}